!! Appearance
URxvt*termName: rxvt-256color
URxvt.scrollBar: false
URxvt.reverseVideo: True
URxvt.scrollstyle: plain
!URxvt.borderColor: #000030
URxvt.internalBorder: 1
urxvt*depth: 32

!! Fonts
!URxvt.font: xft:inconsolata for Powerline-12:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=15:antialias=true:hinting=true
URxvt.font: xft:FantasqueSansMono-11:antialias=true:hinting=true
!URxvt.font: xft:Source\ Code\ Pro\ Medium-10:antialias=true:hinting=true
!URxvt*font: xft:Inconsolata\ for\ Powerline:pixelsize=15:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=15:antialias=true:hinting=true
!URxvt.letterSpace: -1

!! History Limit
URxvt.saveLines: 1000000

!! Transparency
URxvt.transparent: true
URxvt.shading: 10

!! Dynamic Sizing
URxvt.perl-ext-common: ...,font-size
URxvt.keysym.Control-Shift-Up:     perl:font-size:increase
URxvt.keysym.Control-Shift-Down:   perl:font-size:decrease
URxvt.keysym.Control-Shift-equal:  font-size:reset
!! disable keycap picture insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Shell
export PS1='\[\033[00;32m\]\u\[\033[00;33m\]@\[\033[00;32m\]\h\[\033[01;30m\]:\[\033[01;36m\]\w\[\033[01;37m\]$ \[\033[00m\]'

!! Perl extensions
!urxvt.perl-ext-common: default,matcher,font-size
!! Open urls in browser with Control-Click
!urxvt.urlLauncher: /usr/bin/firefox
!urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus

!! ColourScheme
!! Use base16-shell and base16-vim plugin
!! https://blog.browntreelabs.com/base-16-shell-and-why-its-so-awsome/
